* {
    margin: 0; 
}

html, body {
    height: 100%; 
    margin: 0; 
    padding: 0; 
}

body {
    background-image: url('https://media.24h.tv/img/0d/80/0d804705e2c98ca51a419980e0e33e4e.jpeg?format=webp?w=1080'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
    margin: 0; 
    padding: 0; 
    position: relative; 
}







